@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap");
/*
preloader
*/
.pre-loader {
  background-color: #111522;
  color: lightgrey;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.pre-loader .preload-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
}
.pre-loader .preload-wrapper p {
  font-size: 1.5em;
  text-align: center;
}
.pre-loader .preload-wrapper img {
  width: 200px;
  height: 200px;
  margin: auto;
}

body {
  cursor: url("res/cur/cursor_g.cur"), auto;
  color: grey;
  background-color: #111522;
  font-family: "Varela", sans-serif;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.icon {
  color: #288c6c;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  position: sticky;
  top: 0;
  min-width: 350px;
  max-width: 350px;
  background: linear-gradient(rgba(28, 34, 54, 0.941), rgba(28, 34, 54, 0.94)), url("res/img/sidebar-bg.jpg");
  background-size: cover;
  color: #808080;
  transition: all 0.3s;
  /* The progress container (grey background) */
  /* The progress bar (scroll indicator) */
}
#sidebar .sidebar-header {
  padding: 20px;
}
#sidebar .sidebar-header p {
  margin: 0px auto;
  padding: 0px auto;
}
#sidebar .sidebar-header .sidebar-name {
  color: lightgrey;
  font-size: 1.5em;
}
#sidebar ul {
  padding: 20px 0px 0px 0px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  padding-left: 30%;
}
#sidebar ul li a :hover {
  color: #395e3f;
}
#sidebar .progress-container {
  width: 100%;
  height: 4px;
}
#sidebar .progress-bar {
  height: 4px;
  background: #288c6c;
  width: 0%;
}
#sidebar .sidebarCollapse-wrapper {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  border-top: 0.5px solid #288c6c;
}
#sidebar .sidebarCollapse-wrapper #sidebarCollapse, #sidebar .sidebarCollapse-wrapper #sidebarExpand {
  width: 80px;
  height: 100%;
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
}
#sidebar .sidebarCollapse-wrapper #sidebarCollapse i, #sidebar .sidebarCollapse-wrapper #sidebarExpand i {
  size: 1em;
}
#sidebar .sidebarCollapse-wrapper #sidebarExpand {
  display: none;
}

#sidebar .active {
  color: #288c6c;
  border-bottom: 5px solid #288c6c;
  border-radius: 30%;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

#profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 5%;
}

.copyright {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  left: 10%;
}

/* SIDEBAR COLLAPSED */
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: left;
}
#sidebar.active .sidebar-header {
  padding: 0px;
  margin-top: 50%;
}
#sidebar.active .sidebar-header p {
  display: none;
}
#sidebar.active .menu-item, #sidebar.active .copyright {
  display: none;
}
#sidebar.active #profile-pic {
  width: 55px;
  height: 60px;
  margin: 0px auto;
  padding: 0px auto;
}
#sidebar.active ul li a {
  padding: 20px 10px;
  font-size: 1.5em;
  text-align: center;
}
#sidebar.active ul li a i {
  display: block;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.noscroll {
  overflow: hidden;
}

#content {
  min-height: 100vh;
  transition: all 0.3s;
  padding-right: 0px;
  padding-left: 0px;
}
#content h2 {
  color: lightgrey;
}

#collapsibleNavbar {
  display: none;
}
#collapsibleNavbar li {
  border-bottom: 1px solid #1f2742;
}
#collapsibleNavbar #navbarCollapse {
  background-color: transparent;
  margin: auto;
  border-top: 1px solid #288c6c;
}

#home {
  height: 100vh;
  background: linear-gradient(rgba(28, 34, 54, 0.7), rgba(28, 34, 54, 0.6)), url("res/img/949966.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  text-align: center;
}
#home .home-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  letter-spacing: 0.1em;
}
#home .home-content img {
  border: 7px solid rgba(255, 255, 255, 0.15);
}
#home .home-content .name {
  font-size: 45px;
  font-weight: 700;
  color: lightgrey;
}
#home .home-content .name #surname {
  color: #288c6c;
}
#home .home-content h4 {
  letter-spacing: 0.2em;
  font-size: 22px;
  color: lightgrey;
}
#home .scroll-icon {
  position: relative;
  bottom: 0;
}
#home .scroll-icon .bounce {
  width: 25px;
  height: 25px;
  color: lightgrey;
}

#about {
  padding: 5%;
  background-color: #141a2c;
  text-align: justify;
}
#about img {
  height: 550px;
  width: 430px;
  border-radius: 15px;
  box-shadow: 0 19px 28px rgba(74, 93, 150, 0.3), 0 19px 12px rgba(74, 93, 150, 0.22);
}
#about h4 {
  color: lightgrey;
}
#about h4 span {
  color: #288c6c;
}
#about h6 {
  color: #288c6c;
}
#about .about-col {
  margin-top: 5%;
}
#about .about-btn button {
  margin: 2%;
  background-color: #288c6c;
  color: lightgrey;
}
#about .about-btn :hover {
  border-color: #288c6c;
  background-color: #141a2c;
  color: grey;
}

#experience {
  padding: 5%;
}
#experience h5 {
  color: lightgrey;
}
#experience h6 {
  color: #288c6c;
}
#experience .experience-wrapper {
  margin-top: 50px;
}
#experience .experience-wrapper .experience-left-wrapper {
  padding-right: 40px;
}
#experience .experience-wrapper .experience-year {
  text-align: center;
  height: 135px;
  width: 155px;
}
#experience .experience-wrapper .experience-year h3, #experience .experience-wrapper .experience-year .h3 {
  padding: 0px;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
}
#experience .experience-wrapper .experience-year-first {
  box-shadow: 0px 0px 0px 10px #288c6c;
}
#experience .experience-wrapper .experience-year-first h3, #experience .experience-wrapper .experience-year-first .h3 {
  color: #288c6c;
}
#experience .experience-wrapper .experience-year-second {
  box-shadow: 0px 0px 0px 10px #288c6c;
}
#experience .experience-wrapper .experience-year-second h3, #experience .experience-wrapper .experience-year-second .h3 {
  color: #288c6c;
}
#experience .experience-wrapper .experience-year-left {
  float: right;
}
#experience .experience-wrapper .experience-text {
  background-color: #141a2c;
  border-radius: 5%;
  padding: 15px;
  box-shadow: 0 12px 19px rgba(74, 93, 150, 0.3), 0 12px 12px rgba(74, 93, 150, 0.22);
  cursor: url("res/cur/cursor (1).cur"), auto;
}
#experience .experience-wrapper .experience-text-first h4 {
  color: #288c6c;
}
#experience .experience-wrapper .experience-text-second h4 {
  color: #288c6c;
}
#experience .experience-wrapper .experience-right-wrapper {
  margin-left: 40px;
}

#skills {
  padding: 5%;
  background-color: #141a2c;
}
#skills h5 {
  color: lightgrey;
}
#skills h6 {
  color: #288c6c;
}
#skills .skill-left {
  margin-top: 15px;
}
#skills .skill-left .bar-left {
  text-align: right;
  margin: 0px;
  padding: 0px;
  background-color: #111522;
  font-size: 1em;
}
#skills .skill-left .java-se {
  padding-right: 10px;
  width: 80%;
  background-color: #288c6c;
  color: lightgrey;
}
#skills .skill-left .java-ee {
  padding-right: 10px;
  width: 60%;
  background-color: #288c6c;
  color: lightgrey;
}
#skills .skill-left .android {
  padding-right: 10px;
  width: 50%;
  background-color: #288c6c;
  color: lightgrey;
}
#skills .skill-left .cpp {
  padding-right: 10px;
  width: 60%;
  background-color: #288c6c;
  color: lightgrey;
}
#skills .skill-left .python {
  padding-right: 10px;
  width: 50%;
  background-color: #288c6c;
  color: lightgrey;
}
#skills .skills-right-wrapper {
  text-align: right;
}
#skills .skills-right-wrapper .skill-right {
  margin-top: 15px;
}
#skills .skills-right-wrapper .skill-right .bar-right {
  text-align: left;
  margin: 0px;
  padding: 0px;
  background-color: #111522;
  font-size: 1em;
}
#skills .skills-right-wrapper .skill-right .html {
  padding-left: 10px;
  width: 90%;
  background-color: #288c6c;
  color: lightgrey;
  margin-left: 10%;
}
#skills .skills-right-wrapper .skill-right .css {
  padding-left: 10px;
  width: 85%;
  background-color: #288c6c;
  color: lightgrey;
  margin-left: 15%;
}
#skills .skills-right-wrapper .skill-right .js {
  padding-left: 10px;
  width: 60%;
  background-color: #288c6c;
  color: lightgrey;
  margin-left: 40%;
}
#skills .skills-right-wrapper .skill-right .php {
  padding-left: 10px;
  width: 70%;
  background-color: #288c6c;
  color: lightgrey;
  margin-left: 30%;
}
#skills .skills-right-wrapper .skill-right .angular {
  padding-left: 10px;
  width: 65%;
  background-color: #288c6c;
  color: lightgrey;
  margin-left: 35%;
}

#skills-personal {
  background-color: #288c6c;
}
#skills-personal .skills-personal-wrapper {
  padding: 5%;
}
#skills-personal .skills-personal-wrapper .col-wrapper {
  text-align: center;
}
#skills-personal .skills-personal-wrapper .col-wrapper .skill-p {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px #111522;
  text-align: center;
  margin: auto;
}
#skills-personal .skills-personal-wrapper .col-wrapper .team-work, #skills-personal .skills-personal-wrapper .col-wrapper .quick-learner {
  border-style: solid;
}
#skills-personal .skills-personal-wrapper .col-wrapper .problem-solving, #skills-personal .skills-personal-wrapper .col-wrapper .com-skills {
  border-style: solid solid solid dotted;
}
#skills-personal .skills-personal-wrapper .col-wrapper h4 {
  margin-top: 50px;
  color: #111522;
  font-weight: bold;
}
#skills-personal .skills-personal-wrapper .col-wrapper h5 {
  margin-top: 10px;
  color: #111522;
  font-weight: bold;
}

#education {
  padding: 5%;
}
#education h5 {
  color: lightgrey;
}
#education h6, #education h4 {
  color: #288c6c;
}
#education .education-wrapper {
  margin-top: 5%;
}
#education .education-wrapper .education-left-wrapper {
  padding-right: 40px;
}
#education .education-wrapper .education-year {
  text-align: center;
  height: 115px;
  width: 115px;
  box-shadow: 0px 0px 0px 10px #288c6c;
  border-radius: 50%;
}
#education .education-wrapper .education-year h3 {
  padding-top: 35%;
  font-size: 1.5em;
  font-weight: bold;
  color: #288c6c;
  position: relative;
}
#education .education-wrapper .education-year-left {
  float: right;
}
#education .education-wrapper .education-text {
  background-color: #141a2c;
  border-radius: 5%;
  padding: 15px;
  box-shadow: 0 12px 19px rgba(74, 93, 150, 0.3), 0 12px 12px rgba(74, 93, 150, 0.22);
  cursor: url("res/cur/cursor (1).cur"), auto;
}
#education .education-wrapper .education-right-wrapper {
  margin-left: 40px;
}

#interest {
  background-color: #288c6c;
}
#interest #interest-wrapper {
  padding: 5%;
}
#interest #interest-wrapper h2 {
  color: lightgrey;
}
#interest #interest-wrapper h6 {
  color: #288c6c;
}
#interest #interest-wrapper .list-item-wrapper {
  position: relative;
  display: inline-block;
}
#interest #interest-wrapper .list-item-wrapper .list-item {
  border: 4px solid #111522;
  height: 72px;
  width: 72px;
  color: #111522;
  text-align: center;
}
#interest #interest-wrapper .list-item-wrapper .list-item .list-icon {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

#blog #blog-wrapper {
  padding: 5%;
}
#blog #blog-wrapper h2 {
  color: lightgrey;
}
#blog #blog-wrapper h6 {
  color: #288c6c;
}
#blog #blog-wrapper .blog-content {
  margin-top: 80px;
}
#blog #blog-wrapper .blog-content .blog-text {
  text-align: center;
  padding: 20px;
  background-color: #141a2c;
}
#blog #blog-wrapper .blog-content .blog-text h5 {
  color: lightgrey;
}
#blog #blog-wrapper .blog-content .blog-1, #blog #blog-wrapper .blog-content .blog-2 {
  margin: 20px auto;
  height: 100%;
  width: 100%;
}
#blog #blog-wrapper .blog-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
}
#blog #blog-wrapper .blog-img img {
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}
#blog #blog-wrapper .blog-img:hover img {
  transform: scale(1.3);
}

#contact {
  padding: 5%;
  background-color: #141a2c;
  text-align: justify;
  color: lightgrey;
}
#contact h2 {
  color: lightgrey;
}
#contact h6 {
  color: #288c6c;
}
#contact .map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
#contact .contact-field {
  margin: 2%;
  padding: 1%;
}
#contact .contact-field input, #contact .contact-field textarea {
  width: 95%;
  border-radius: 5%;
  padding: 1%;
  background-color: #111522;
  border-color: grey;
  color: lightgrey;
}
#contact .contact-button {
  width: 100%;
  text-align: center;
}
#contact .contact-button button {
  background-color: #288c6c;
  color: lightgrey;
}
#contact .contact-button button:hover {
  border-color: #288c6c;
  background-color: #141a2c;
  color: grey;
}
#contact .errorMsg {
  font-size: 1em;
  color: red;
  padding-left: 1%;
}

/* ---------------------------------------------------
    CONNECT ICONS STYLE
----------------------------------------------------*/
#menu-icon-wrapper {
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 50px;
  margin-bottom: 2em;
  margin-right: 1em;
}
#menu-icon-wrapper button {
  margin: 10px;
  color: #288c6c;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  padding: 0;
}
#menu-icon-wrapper button:hover {
  background-color: #288c6c;
  color: #111522;
}

#menu-icon-wrapper:hover .hidden {
  display: inline;
}

.hidden {
  display: none;
}

/* ---------------------------------------------------
    OVERLAYS
----------------------------------------------------- */
.overlay {
  position: fixed;
  overflow-y: scroll;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  color: #c0b3b3;
  font-family: "Dosis", sans-serif;
}
.overlay .overlay-wrapper .highlight {
  color: #61bea1;
}
.overlay .overlay-wrapper .img-wrapper {
  position: relative;
  display: inline-block;
}
.overlay .overlay-wrapper .img-wrapper img {
  display: block;
  width: 400px;
  height: 300px;
  filter: brightness(0.7) saturate(100%);
}
.overlay .overlay-wrapper .info {
  font-size: 1.2em;
  margin-top: 30px;
}
.overlay .overlay-wrapper .info .row {
  margin-bottom: 10px;
}
.overlay .overlay-wrapper .course ul li {
  font-size: 1.2em;
}
.overlay .overlay-wrapper .tech {
  background-color: #141a2c;
  border: 1px solid #288c6c;
  padding: 5px;
  margin: 10px;
}
.overlay .a {
  margin-left: 30px;
  margin-right: 30px;
}
.overlay .close-overlay {
  padding: 5%;
  position: absolute;
  top: 0;
  right: 0;
}
.overlay .close-overlay .icon {
  cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
  h2 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h6 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.1em;
  }

  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  #sidebar .sidebar-header h3, #sidebar .sidebar-header p {
    display: none;
  }
  #sidebar ul li a {
    font-size: 0.85em;
    padding: 20px 5px;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar .copyright, #sidebar .menu-item {
    display: none;
  }

  #sidebar.active {
    margin-left: 0 !important;
    min-width: 60px;
    max-width: 60px;
  }
  #sidebar.active ul li a {
    font-size: 0.85em;
  }
  #sidebar.active #profile-pic {
    width: 35px;
    height: 40px;
  }

  .copyright {
    font-size: 0.6em;
    margin: 2px;
  }

  .connect-icon {
    height: 50px;
    width: 50px;
    font-size: 1em;
  }

  #navbar-expand-btn {
    display: block;
    width: 40px;
    height: 40px;
    left: 0;
    background-color: #111522;
  }

  #home {
    background-position-x: center;
    background-position-y: bottom;
  }

  #about, #education, #contact, #experience, #blog-wrapper, #skills-personal, #interest-wrapper {
    width: 96vw;
    margin: auto;
    padding: 0px auto;
  }
  #about img, #education img, #contact img, #experience img, #blog-wrapper img, #skills-personal img, #interest-wrapper img {
    margin: 0px auto;
    padding: 0px auto;
  }

  #education .education-text-first {
    margin-top: 40px;
  }
  #education .education-year-second, #education .education-text-third, #education .education-year-third {
    margin-top: 50px;
  }
  #education .education-text-second {
    margin-top: 70px;
  }
  #education .education-year-first h3::after, #education .education-year-third h3::after {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #288c6c;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -80px;
    right: 40px;
  }
  #education .education-year-second h3::after {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid #288c6c;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -35px;
    right: 40px;
  }

  #experience .experience-text-first {
    margin-top: 40px;
  }
  #experience .experience-year-second {
    margin-top: 50px;
  }
  #experience .experience-text-second {
    margin-top: 70px;
  }
  #experience .experience-year-first h3::after {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #288c6c;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -45px;
    right: 40px;
  }
  #experience .experience-year-second h3::after {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid #288c6c;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -40px;
    right: 40px;
  }

  .map {
    margin-top: 30px;
  }

  .overlay p {
    font-size: 1em;
  }
  .overlay h4 {
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
  }
  .overlay h5 {
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
  }
  .overlay .overlay-wrapper {
    padding-top: 5%;
  }
  .overlay .overlay-wrapper .img-wrapper {
    width: 100%;
  }
  .overlay .overlay-wrapper .img-wrapper img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
  }
  .overlay .overlay-wrapper .info {
    font-size: 1em;
    margin-top: 10px;
  }
  .overlay .overlay-wrapper .info .row {
    margin-bottom: 5px;
  }
  .overlay .overlay-wrapper .course ul li {
    font-size: 1em;
  }
  .overlay .overlay-wrapper .tech-wrapper {
    margin: 0px;
    padding: 0px;
  }
  .overlay .overlay-wrapper .tech-wrapper .tech {
    padding: 2px;
    margin: 5px;
  }
  .overlay .overlay-wrapper .hidden {
    display: none;
  }
}
@media (min-width: 992px) {
  .overlay-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #about, #education, #contact, #skills, .skills-personal-wrapper, #blog-wrapper, #interest-wrapper {
    width: 80vw;
    margin: auto;
  }

  #navbar-expand-btn {
    display: none;
  }

  #experience {
    /*---- Hover style for 2nd row ----- */
    /*---- Hover style for 1st and 3rd row ----- */
  }
  #experience .experience-left-wrapper {
    box-shadow: 3px 0px 0px 0px #288c6c;
  }
  #experience .experience-year-right h3::after {
    content: "";
    border-right: 15px solid #288c6c;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    left: -35px;
  }
  #experience .experience-year-right h3::before {
    content: "";
    width: 20px;
    height: 20px;
    left: -64px;
    background: #111522;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #288c6c;
    border-top-color: #288c6c;
    border-right-color: #288c6c;
    border-bottom-color: #288c6c;
    border-left-color: #288c6c;
  }
  #experience .experience-second:hover .experience-year-right h3::before {
    content: "";
    background: #288c6c;
  }
  #experience .experience-year-left h3::before {
    content: "";
    width: 20px;
    height: 20px;
    right: -53px;
    background: #111522;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #288c6c;
    border-top-color: #288c6c;
    border-right-color: #288c6c;
    border-bottom-color: #288c6c;
    border-left-color: #288c6c;
  }
  #experience .experience-year-left h3::after {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #288c6c;
    border-left-color: #288c6c;
    border-left-color: #288c6c;
    position: absolute;
    right: -35px;
  }
  #experience .experience-first:hover .experience-year-left h3::before {
    content: "";
    background: #288c6c;
  }
  #experience .experience-text-left h4 {
    position: relative;
    width: 100%;
  }
  #experience .experience-text-left h4::after {
    content: "";
    right: -60px;
    border-left: 25px solid #202842;
    border-right: 20px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
  }
  #experience .experience-text-right h4::before {
    content: "";
    left: -15px;
    border-left: 5px solid transparent;
    border-right: 25px solid #202842;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
  }
  #experience .experience-year-second, #experience .experience-text-second {
    margin-top: 20%;
  }

  #education {
    /*---- Hover style for 2nd row ----- */
    /*---- Hover style for 1st and 3rd row ----- */
  }
  #education .education-left-wrapper {
    box-shadow: 3px 0px 0px 0px #288c6c;
  }
  #education .education-year-right h3::after {
    content: "";
    border-right: 15px solid #288c6c;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    left: -35px;
  }
  #education .education-year-right h3::before {
    content: "";
    width: 20px;
    height: 20px;
    left: -64px;
    background: #111522;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #288c6c;
    border-top-color: #288c6c;
    border-right-color: #288c6c;
    border-bottom-color: #288c6c;
    border-left-color: #288c6c;
  }
  #education .education-second:hover .education-year-right h3::before {
    content: "";
    background: #288c6c;
  }
  #education .education-year-left h3::before {
    content: "";
    width: 20px;
    height: 20px;
    right: -53px;
    background: #111522;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #288c6c;
    border-top-color: #288c6c;
    border-right-color: #288c6c;
    border-bottom-color: #288c6c;
    border-left-color: #288c6c;
  }
  #education .education-year-left h3::after {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #288c6c;
    border-left-color: #288c6c;
    border-left-color: #288c6c;
    position: absolute;
    right: -35px;
  }
  #education .education-first:hover .education-year-left h3::before, #education .education-third:hover .education-year-left h3::before {
    content: "";
    background: #288c6c;
  }
  #education .education-text-left h4 {
    position: relative;
    width: 100%;
  }
  #education .education-text-left h4::after {
    content: "";
    right: -60px;
    border-left: 25px solid #202842;
    border-right: 20px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
  }
  #education .education-text-right h4::before {
    content: "";
    left: -15px;
    border-left: 5px solid transparent;
    border-right: 25px solid #202842;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
  }
  #education .education-year-second, #education .education-text-third, #education .education-year-third, #education .education-text-second {
    margin-top: 20%;
  }

  #contact .contact_form {
    margin: 6% 0% 0% 5%;
  }

  #menu-icon-wrapper {
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  #about, #education, #contact, #experience, #skills, .skills-personal-wrapper, #blog-wrapper, #interest-wrapper {
    width: 70vw;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
